In [1]:
import pandas as pd
import openpyxl

In [2]:
df1 = pd.read_excel('Clientes Combinados.xlsx')
df2 = pd.read_excel('11.CEDULA DE LIQUIDACION NOVIEMBRE PREPARADO.xlsx')

In [3]:
# Asegurar que no haya espacios extra en los nombres de columnas
df1.columns = df1.columns.str.strip()
df2.columns = df2.columns.str.strip()

# Copiar los nombres originales en nuevas columnas antes de normalizar
df1['NOMBRE_ORIGINAL'] = df1['NOMBRE_ORIGINAL']
df2['NOMBRE_COMPLETO_ORIGINAL'] = df2['NOMBRE COMPLETO']

# Función para normalizar nombres (maneja valores nulos)
def normalizar_nombre(nombre):
    if pd.isna(nombre):  # Evita errores con NaN
        return ''
    return ' '.join(sorted(nombre.split()))

# Aplicar normalización en las nuevas columnas
df1['NOMBRE_NORMALIZADO'] = df1['NOMBRE_ORIGINAL'].apply(normalizar_nombre)
df2['NOMBRE_NORMALIZADO'] = df2['NOMBRE_COMPLETO_ORIGINAL'].apply(normalizar_nombre)

# Hacer el merge en la columna normalizada
df_merged = df1.merge(df2, on='NOMBRE_NORMALIZADO', how='inner')

# Ver resultado
print(df_merged)
#COMISIONES Y RENTAS     CORRESPONSALIA por COMISIONES Y RENTAS

# Seleccionar solo algunas columnas de df_merged y guardarlas en un nuevo DataFrame
columnas_seleccionadas = ['ZONA_x','N_EMPRESARIO','NOMBRE_ORIGINAL', 'RFC','BONO TOLERANCIA DE MERMA $3,000.00','BONO TIENDA ENTRENADORA','BONO RECOMIENDAME','COMISION','COMISIONES Y RENTAS     CORRESPONSALIA', 'SUB TOTAL COMISION VARIABLE']  # Cambia según lo que necesites
df_seleccionado = df_merged[columnas_seleccionadas]
# **Exportar a Excel**
archivo_salida = 'datos_cruzados_cedula NOV.xlsx'
df_seleccionado.to_excel(archivo_salida, index=False, engine='openpyxl')

            ZONA_x  N_EMPRESARIO                    NOMBRE_ORIGINAL  \
0            NORTE        115266              YEREMY PICHARDO MEJIA
1            NORTE        114414            XIMENA POSADAS FAJARDO
2            NORTE        114975            WENDY CABANILLAS CASTRO
3    CTRO 1 NORTE         111566               VIRGINIA MORA PEREZ
4    CTRO 1 NORTE         111566               VIRGINIA MORA PEREZ
..             ...           ...                                ...
141            NaN        115731  MARIA GUADALUPE ARELLANO MARTINEZ
142            NaN        115705          AXEL TRISTAN CUEVAS LOPEZ
143            NaN        115720               MARIBEL COLIN ARIAS
144            NaN        115748                SERGIO GONZAGA CRUZ
145            NaN        115772        PACHECO PEREZ DANIELA PAOLA

                  RFC                 NOMBRE_NORMALIZADO  \
0       PIMY920809NF4              MEJIA PICHARDO YEREMY
1    POFX020816449                FAJARDO POSADAS XIMENA
2       CACW7602096V0            CABANILLAS CASTRO WENDY
3       MOPV870305588                MORA PEREZ VIRGINIA
4       MOPV870305588                MORA PEREZ VIRGINIA
..                ...                                ...
141     AEMG931023C34  ARELLANO GUADALUPE MARIA MARTINEZ
142     CULA06040669A          AXEL CUEVAS LOPEZ TRISTAN
143     COAM870418PV5                ARIAS COLIN MARIBEL
144     GOCS9605303C7                CRUZ GONZAGA SERGIO
145     PEPD031030SE6        DANIELA PACHECO PAOLA PEREZ

     DETERMINANTE + NO. DE EMPRESARIO  NO. SAP  \
0                           992115266   231115
1                          7190114414   230252
2                          7136114975   230804
3                          7121111566   227440
4                          7520111566   227440
..                                ...      ...
141                        7115115731   231546
142                         516115705   231512
143                        7101115720   231532
144                          23115748   231601
145                        7134115772   231595

                       NOMBRE COMPLETO  TOMA TDA.  ENTREGA TDA.  ...  \
0                PICHARDO MEJIA YEREMY   20250307    20251114.0  ...
1               POSADAS FAJARDO XIMENA   20230818           NaN  ...
2              CABANILLAS CASTRO WENDY   20240915           NaN  ...
3                 MORA PEREZ VIRGINIA    20180830           NaN  ...
4                 MORA PEREZ VIRGINIA    20240325           NaN  ...
..                                 ...        ...           ...  ...
141  ARELLANO MARTINEZ MARIA GUADALUPE   20251030           NaN  ...
142         CUEVAS LOPEZ AXEL TRISTAN    20251023           NaN  ...
143                COLIN ARIAS MARIBEL   20251101    20251124.0  ...
144                GONZAGA CRUZ SERGIO   20251129           NaN  ...
145        PACHECO PEREZ DANIELA PAOLA   20251129           NaN  ...

     Total Liquidacion  IMPORTE A CONSIDERAR PARA DESCTOS.  F EFECTIVO  \
0                 2.00                                2.00         0.0
1                43.00                               43.00         0.0
2               149.00                              149.00         0.0
3              2016.00                             2016.00         0.0
4              1004.00                             1004.00         0.0
..                 ...                                 ...         ...
141             145.00                              145.00         0.0
142              16.00                               16.00         0.0
143               1.00                                1.00         0.0
144            1736.06                             1736.06         0.0
145            1944.56                             1944.56         0.0

     F INVENTARIO  SUB TOTAL  IVA 16%.6  RETENCION AL IVA 10.67%.6  \
0             0.0       2.00       0.32                       0.21
1             0.0      43.00       6.88                       4.59
2             0.0     149.00      23.84                      15.90
3             0.0    2016.00     322.56                     215.11
4             0.0    1004.00     160.64                     107.13
..            ...        ...        ...                        ...
141           0.0     145.00      23.20                      15.47
142           0.0      16.00       2.56                       1.71
143           0.0       1.00       0.16                       0.11
144           0.0    1736.06     277.77                     185.24
145           0.0    1944.56     311.13                     207.48

     RETENCION ISR 1.25%.6  GRAN TOTAL           NOMBRE_COMPLETO_ORIGINAL
0                  0.02500     2.08500              PICHARDO MEJIA YEREMY
1                  0.53750    44.75250             POSADAS FAJARDO XIMENA
2                  1.86250   155.07750            CABANILLAS CASTRO WENDY
3                 25.20000  2098.25000               MORA PEREZ VIRGINIA
4                 12.55000  1044.96000               MORA PEREZ VIRGINIA
..                     ...         ...                                ...
141                1.81250   150.91750  ARELLANO MARTINEZ MARIA GUADALUPE
142                0.20000    16.65000         CUEVAS LOPEZ AXEL TRISTAN
143                0.01250     1.03750                COLIN ARIAS MARIBEL
144               21.70075  1806.88925                GONZAGA CRUZ SERGIO
145               24.30700  2023.90300        PACHECO PEREZ DANIELA PAOLA

[146 rows x 105 columns]